*,
a:focus {
  outline: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-container {
  display: flex;
}

.days,
.hours,
.mins,
.secs {
  text-align: center;
}

span {
  display: block;
  padding: 1vw;
}

.btn {
  display: flex;
  justify-content: center;
}

input {
  border: 0px;
  text-align: center;
  width: 100%;
  font-size: 5rem;
}
